{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'stocksapp/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} - StocksUp</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'index' %}">StocksUp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'add_stock' %}">Add Stocks</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'delete_stock' %}">Delete Stocks</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{% url 'index' %}" method="POST">
                {% csrf_token %}
                <input class="form-control mr-sm-2" type="search" placeholder="Get Stock Quote" aria-label="Search" name="ticker">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Stock Quote</button>
            </form>
        </div>
    </nav>
    <br>
    <div class="container">
        {% if messages %}
            {% for message in messages %}

                <div class="alert alert-success alert-dismissable" role="alert" id="msgs">
                    <button class="close" data-dismiss="alert" id="close">&times;</button>
                    {{ message }}

                </div>

            {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock %}


    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const close = document.getElementById("close");

            if (document.getElementById("msgs")) {
                const msgs = document.getElementById("msgs");

                close.onclick = () => {
                    msgs.remove()
                }
            }
            
        })
    </script>
    
</body>
</html>