{% extends 'base.html' %}

{% block title %}Delete Stock{% endblock %}

{% block content %}
    <h1>Delete Stocks</h1>
    <br>

    {% if ticker %}

        <table class="table table-striped table-dark table-bordered table-hover">
            {% for item in ticker %}
                <tr>
                    <th>{{ item }}</th>
                    <td>
                        <center><a href="{% url 'delete' item.id %}" style="color:#00E676">Delete</a></center>
                    </td>
                </tr>
            {% endfor %}
        </table>

        

    {% else %}
        You don't have any stocks...

    {% endif %}

{% endblock %}